@font-face{
    font-family: "Gotham";
    src: url("../assets/fonts/Gotham-Black.otf"),
    url("../assets/fonts/GothamBook.ttf");
}
/* ------------------------------------------------------------- */

body{
    background-color: #F3F3F3;
    display: block;
    margin: 0;
}

a:link{
    font-family: Gotham;
    text-decoration: none;
}

main{
    margin-top: 5%;
    margin-bottom: 5%;
}

/* ----------------------- Header ----------------------------- */

#menu{
    padding-left: 5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{

    width:150px;
    height:35.77px;
}

.pages{
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}
.page{
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 18px;
    font-family: Gotham;
    color: #707070;
}

.page:link{
    text-decoration: none;
}

#fristPage{
    padding-left: 30%;
}
#page{
    font-size: 18px;
    font-family: Gotham;
    color: #707070;
}

#hello{
    font-family: Gotham;
    color: black;
    margin-left: 12%;
    margin-top: 3%;
}

/* ----------------------- Footer ----------------------------- */

footer{
    position: relative;
    background-color: #0075c9;
    width: 100%;
    height: 150px;
    padding-top: 3%;
    margin:0px !important;
}
#logoNB{
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
#credits{
    text-align: center;
    font-size: 13;
    font-family: Gotham;
    color: #EFEFEF;
}

/* ----------------------- Login ------------------------------ */

.loginPageContent{
    margin-top: 70px;
}

#loginLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width:300px;
    max-height:150px;
    width: auto;
    height: auto;
}

.loginBox{
    background-color: #d7d7d757;
    border-radius: 7px;

    width: 805px;
    height: 410px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

    padding-top: 20px;
    padding-bottom: 20px;
}
#loginBlueTitle{
    text-align: center;
    color: #0075c9;
    font-family: Gotham;
    font-size: 32px;
}

#loginForm{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;

    margin-top: 30px;
}

.loginField{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loginField:last-of-type{
    margin-top: 20px;
}

.loginLabel{
    font-family: Gotham;
    font-size: medium;
    margin: 3px;
}
.loginInput{
    width: 500px;
    height: 40px;
    border: solid 1.5px #0075c9;
    border-radius: 6px;
    padding-left: 15px;
}
.submitButtonLogin{
    margin-top: 30px;
    width: 250px;
    height: 50px;

    border: none;
    border-radius: 6px;

    color: #D7D7D7;
    font-family: Gotham;
    font-size: medium;
    background-color: #0075c9;
    transition-duration: 0.3s;

    box-shadow: rgba(0, 0, 0, 0.36) 2px 2px 10px;

    font-family: Gotham;
}
button:hover{
    background-color:#00518a;
}

#forgotPassword{
    font-family: Gotham;
    font-size: 13px;
    color: black;
}
/* ----------------------- Templates -------------------------- */

.templatesPageContent{
    margin: 0px auto 100px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.templatesGrid{
    width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.template{
    background-color: #d8d8d8;
    width: 350px;
    height: 65px;
    border-radius: 5px;
    border: solid 1px #0075c96a;
    box-shadow: #1616161a 1.5px 1.5px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.templateText{
    font-family: Gotham;
    color: black;
    font-size: 16px;
    text-align: center;
}
.actionButton{
    background-color: #0075c9;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    display: flex;

    align-items: center;
    justify-content: center;
}
.actionButtonText{
    font-family: Gotham;
    color: #f3f3f3;
    font-size: 14px;
    text-align: center;
}
.buttonArea{
    width: 160px;
    height: 50px;
    margin-left: auto;
    margin-right: 200px;
}

#deleteTemplate{
    background-color: #940101;
}

.templatePageContent{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 172.5px;
    margin-top: 172.5px;
}
.templateButtonArea{
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 223px;
    justify-content: space-between;

}
/* --------------------- Recipients ------------------------ */



.recipientsPageContent{
    margin-bottom: 100px;
}
.recipientsActionButton{
    background-color: #0075c9;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    display: flex;

    align-items: center;
    justify-content: center;
}
.recipients{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.recipient{
    width: 90%;
    height: 60px;
    margin-bottom: 15px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #d8d8d8d8;
    border-radius: 5px;
    border: solid 1px #0075c96a;
    padding-left: 5%;
    padding-right: 5%;

}


.recipient h6{
    font-family: Gotham;
    font-size: 14px;
}

.buttonArea{
    width: 160px;
    height: 50px;
    margin-left: auto;
    margin-right: 200px;
}

#deleteIcon{
    width: 22px;
    margin-bottom: 4px;
    margin-left: 8px;
}

/* ----------------------- New Recipient ------------------------- */

.newRecipientPageContent{
    margin-bottom: 100px;
}
.formRecipientBox{
    width: 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#formRecipients{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.newRecipientBlueTitle{
    color: #0075c9;
    font-family: Gotham;
    text-align: center;
    font-size: 32px;
    margin-bottom: auto;
}
.recipientField{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.recipientLabel{
    font-family: Gotham;
    font-size: medium;
    margin: 3px;

}
.recipientInput{
    width: 500px;
    height: 40px;
    border: solid 1.5px #0075c9;
    border-radius: 6px;
    padding-left: 15px;
}

#lastInput{
    margin-bottom: 50px;
}
.addRecipientButton{
    margin-top: 30px;
    width: 250px;
    height: 50px;

    border: none;
    border-radius: 6px;

    color: #D7D7D7;
    font-family: Gotham;
    font-size: medium;
    background-color: #0075c9;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.36) 2px 2px 10px;
}

/* ------------------- upload Template ----------------------- */

.uploadPageContent{
    margin-bottom: 108px;
    margin-top: 100px;
}

.uploadBlueTitle{
    color: #0075c9;
    font-family: Gotham;
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}
.usefullArea{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.uploadForm{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.templateLabel{
    text-align: start;
    font-family: Gotham;
    font-size: medium;
    margin: 3px;
    margin-bottom: 7px;
}

.templateInput{
    width: 100%;
    height: 40px;
    border: solid 1.5px #0075c9;
    border-radius: 6px;
    padding-left: 15px;
}

#confirmButton{
    width: 50%;
    background-color: #D7D7D7;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: Gotham;
    align-self: center;
    margin-top: 30px;
    transition-duration: 0.3s;
}

#confirmButton:hover{
    background-color: #c1c1c1;
}

.uploadInput{
    color: black;

}

input[type='file'] {
    display: none
}

/* Aparência que terá o seletor de arquivo */
.fileLabel {
    width: 50%;
    align-self: center;
    background-color: #0075c9;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-family: Gotham;
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 10px;
    transition-duration: 0.3s;
}
.fileLabel:hover{
    background-color:#00518a;
}

/* ---------------------------------------------------------------------- */

.sendBlueTitle{
    color: #0075c9;
    font-family: Gotham;
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;

    margin-top: 50px;
}

.templateSend{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
    margin-bottom: 100px;
}

.sendButton{
    background-color: #0075c9;
    width: 160px;
    height: 50px;
    border-radius: 5px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    color: white;
    font-weight: 700;
    border: none;
}

.emailOption{
    width: 100%;
}
.sendField{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
}
.sendContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sendLabel{
    font-family: Gotham;
    font-size: medium;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-top: auto;
}
.sendInput{
    width: 97%;
    height: 40px;
    border: solid 1.5px #0075c9;
    border-radius: 6px;
    padding-left: 15px;
}

.sendBlueTitle:last-of-type{
    margin-bottom: 30px;
}
.sendBlueTitle:first-of-type{
    margin-bottom: 5px;
}


